# Build results
bin/
obj/

# User-specific files
.vs/
.idea/
.vscode/

# Windows installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files and dumps
*.pdb
*.idb
*.ipch
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# JetBrains Rider
.idea/

# Mac files
.DS_Store

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
